.sidebar {
    width: 180px;
    float: left;
    margin-top: 4px;
 
.badge-wrapper {
    font-weight: normal;
}
.zag {
    margin: 12px 0 6px 0;
}
.oglavl {
    display: inline-block;
    color: #666;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
    text-transform: uppercase;
}
.cat-link {
    margin: 0 0 9px 0;
    font-size: 16px;
    position: relative;
    display: block;
}
hr {
    width: 90%;
}
.sidebar-custom-content {
    color:#666;
}
.badge-wrapper.bullet .badge-category-bg {
    display: none;
}
.toxu-info {
    font-size: 12px;
    color: #919191;
}
.toxu-info a {
    color: #919191;
    margin-right: 11px;
}
.toxu-info-soc {
    margin-bottom: 5px;
}
.badge-wrapper.bullet span.badge-category:hover, .toxu-info a:hover {
    color: #e45735;
}
a.info-soc.my  {
    display: inline-block;
}
a.info-soc.my:first-letter {
    color: #e45735;
}
}

.container.list-container.has-sidebar {
    width: calc(100% - 183px);
    float: right;
    border-left: 1px solid #d6d9dc;
}

body.navigation-categories  {
    .sidebar {
        display: none;
    }
	
    .container.list-container.has-sidebar {
        width:100%;
        border-left: none;
    }
}
.top-lists, .footer-message {
    margin-left: 10px;
}

@media (max-width: 820px){
	
  .sidebar {
     display: none;
  }
 .container.list-container.has-sidebar {
     width: 100%;
     border-left: none;
  }
}
